.explain {
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  svg {
    width: 20px;
    height: 20px;
    fill: whitesmoke;
  }
  span,
  svg {
    vertical-align: middle;
  }
}
