.lamplight {
  //   color: #ffd86cb7;
  position: absolute;
  padding: 9px 14px;
  background-color: white;
  border-radius: 6px;
  font-size: 14x;
  font-weight: 400;
  left: 50%;
  top: 50%;
  z-index: 1;
//   transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto;
}
