.createRoom {
  .inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    .item {
      position: relative;
      margin-bottom: 1.2rem;
      .cleanSlide {
        position: relative;
        display: inline-block;
        width: 215px;
        padding: 10px 0 10px 15px;
        font-family: "Open Sans", sans;
        font-weight: 400;
        // color: #377d6a;
        background: #efefef;
        border: 0;
        border-radius: 3px;
        outline: 0;
        text-indent: 60px; // Arbitrary.
        transition: all 0.3s ease-in-out;
        
        &::-webkit-input-placeholder {
          color: #efefef;
          text-indent: 0;
          font-weight: 300;
        }
        + label {
          display: inline-block;
          position: absolute;
          transform: translateX(0);
          top: 0;
          left: 0;
          bottom: 0;
          padding: 10px 15px;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;
          color: #032429;
          text-align: left;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
          transition: all 0.3s ease-in-out, color 0.3s ease-out;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          overflow: hidden;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            // background: rgba(55, 116, 57, 0.7);
            z-index: -1;
            transform: translate(0);
            transition: all 0.3s ease-in-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
      }
      &.classic {
        .cleanSlide:focus,
        .cleanSlide:active {
        //   color: #367439;
          text-indent: 0;
          background: #fff;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &::-webkit-input-placeholder {
            color: #aaa;
          }
          + label {
            color: #fff;
            // text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transform: translateX(-100%);

            &:after {
              transform: translate(100%);
            }
          }
        }
      }
      &.readOnly {
        .cleanSlide {
          color: grey;
          cursor: default;
        }
      }
    }
  }
  .button {
    padding: 10px 0;
  }
}
