* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* toast框样式 */
.toastBox {
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 99999;
  min-width: 360px;
  max-width: 800px;
  padding: 12px 20px;
  border: 1px solid #ebedf0;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
  background-color: #edf2fc;
  transform: translate(-50%, 0);
}

.PositionLayout {
  /* 组件内样式 */
  position: relative;
  width: 400px;
  height: 400px;

  /* 默认样式 */
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
}

.PositionLayout > * {
  /* 服务器自创样式 */
  position: absolute;
  top: 0px;
  left: 0px;
}

.HorizontalLayout {
  /* 组件内样式 */
  position: relative;
  display: flex;

  /* 默认样式 */
  width: 400px;
  height: 200px;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
  align-items: center;
}

.VerticalLayout {
  /* 组件内样式 */
  position: relative;
  display: flex;
  flex-direction: column;

  /* 默认样式 */
  width: 200px;
  height: 400px;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
  align-items: center;
}

.Text {
  /* 组件内样式 */
  width: 100px;
  height: 30px;

  /* 默认样式 */
  width: 100px;
  height: 30px;
  color: #666666;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
}

.Button {
  /* 组件内样式 */
  color: #666666;
  font-size: 16px;

  background-color: #f5f5f5;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #dcdfe6;
  padding: 0.75em 1em;

  cursor: pointer;

  transition: background-color 66ms ease-in;

  /* 默认样式 */
  width: 20px;
  height: 20px;
  color: #666666;
  font-family: 微软雅黑;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  background-color: #f5f5f5;
  border: 1px solid #dcdfe6;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
}

.Button:hover {
  color: white;

  background-color: #999999;
  border: 1px solid #666666;
}

.Image {
  /* 组件内样式 */
  display: inline-block;
  background: #ffffff;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #bbbbbb;

  object-fit: cover;
  cursor: auto;

  /* 默认样式 */
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #bbbbbb;
  box-shadow: none;
  opacity: 1;
  transform: rotate(0deg);
}
