.configuration {
  font-size: 1.2rem;
  display: inline-flex;
  flex-direction: column;
  .configurationItem {
    display: inline-block;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .separator {
    color: #00000073;
    margin: 0 8px;
  }
  .difficulty {
    $colors: (
      simple: #367439,
      common: #1f5fb0,
      hard: #ffd86c,
      hardest: #d0393a,
    );
    .difficultyLabel {
      color: whitesmoke;
    }
    .item {
      cursor: pointer;
      color: gainsboro;
      @each $key, $color in $colors {
        .#{$key}.active {
          color: $color;
        }
        .#{$key}:hover {
          color: $color;
        }
      }
    }
  }
  .pattern {
    $colors: (
      usually: #1f5fb0,
      dj: #d0393a,
    );
    .patternLabel {
      color: whitesmoke;
    }
    .item {
      cursor: pointer;
      color: gainsboro;
      @each $key, $color in $colors {
        .#{$key}.active {
          color: $color;
        }
        .#{$key}:hover {
          color: $color;
        }
      }
    }
  }
  .theme {
    $colors: (
      green: #367439,
      blue: #1f5fb0,
      yellow: #ffd86c,
    );
    .themeLabel {
      color: whitesmoke;
    }
    .item {
      cursor: pointer;
      color: gainsboro;
      @each $key, $color in $colors {
        .#{$key}.active {
          color: $color;
        }
        .#{$key}:hover {
          color: $color;
        }
      }
    }
  }
  .core {
    .coreLabel {
      color: whitesmoke;
    }
    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .beta {
    color: #d0393ab7;
    font-size: 14px;
  }
  span {
    vertical-align: middle;
  }
}
