@font-face {
    font-family: num;
    src: url(../../assets/fonts/SupermercadoOne-Regular.ttf);
}
.gameScore {
  .process {
    position: absolute;
    opacity: 0.1;
    transform: translateY(-20px);
    transition: all 0.5s;
    font-size: 1.5rem;
  }
  .score{
      font-size: 1.2rem;
  }
  .process,.score{
      font-family: num;
  }
}
