.mainBackground {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/imgs/background.jpeg");
  background-position: center;
  background-size: cover;
  .overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3 ease-out;
  }
  .content {
    z-index: 99;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
