.blue {
  color: #3bbee8;
  color: #88abda;
  color: #3cbce5;
  color: #008fa9;
  color: #1f2b61;
  color: #2e59a7;
  color: #e0faf4;
  color: #e0f1f4;
  color: #6ec8e2;
  color: #94c5da;
  color: #70c7da;
  color: #8ec1ea;
  color: #1f5fb0;
}
.yellow {
  color: #fedc5e;
  color: #ddb078;
  color: #da9233;
  color: #bc6e37;
  color: #9f5221;
  color: #fdcf00;
  color: #dfd7c2;
  color: #aa9649;
  color: #bd8253;
  color: #ecd9c7;
  color: #cfb18b;
  color: #b37745;
}
